:root {
    --main-background-color: black;
    --text-color: #fff;
    --highlight-color: #0ff;
    --accent-color: #f0f;
    --background-light: #b0c4de;
    --text-dark: #333;
    --secondary-background: aliceblue;
}

.dark {
    --main-background-color: #e0d8d8;
    --text-color: rgb(44, 43, 43);
    --highlight-color: #006666;
    --accent-color: #990099;
    --background-light: #294974;
    --text-dark: rgb(243, 241, 239);
    --secondary-background: #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-background);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Segoe UI;
    position: absolute;
    overflow-x: hidden;
}

.navbar {
    padding: 10px 10%;
    height: 100px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo_img {
    height: 90px;
    width: 160px;
    margin-top: -5px;
    margin-left: -10px;
    position: relative;
    z-index: 2;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    cursor: pointer;
    color: var(--text-dark);
    font-weight: 600;
    font-size: 1.2rem;
    position: relative;
}

nav ul li::after {
    content: '';
    width: 0;
    height: 2.5px;
    background: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

.theme {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.description {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: -30px;
    padding-top: 70px;
}

.container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 110px;
    left: 180px;
}

.face {
    width: 300px;
    height: 200px;
    overflow: hidden;
    transition: .4s;
}

.face1 {
    position: relative;
    background: var(--text-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
    transform: translateY(100px);
}



.face2 {
    background: var(--background-light);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100px);
}

.card:hover .face.face1 {
    transform: translateY(0);
    box-shadow: inset 0 0 60px var(--background-light),
        inset 20px 0 80px var(--accent-color),
        inset -20px 0 80px var(--highlight-color),
        inset 20px 0 300px var(--accent-color),
        inset -20px 0 300px var(--highlight-color),
        0 0 50px var(--text-color),
        -10px 0 80px var(--accent-color),
        10px 0 80px var(--highlight-color);
}

.outer {
    opacity: .3;
    text-align: center;
    transition: 0.5s;
}

.card:hover .outer {
    opacity: 1;
}

.card:hover .face.face2 {
    transform: translateY(0);
}

img {
    width: 300px;
    height: 200px;
}

p,
a {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    color: var(--text-dark);
}

a {
    text-decoration: none;
    color: var(--main-background-color);
    box-sizing: border-box;
    outline: 1px dashed var(--text-dark);
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}

a:hover {
    background: var(--text-dark);
    color: var(--text-color);
}

.title {
    position: absolute;
    top: 135px;
    color: var(--accent-color);
}

label {
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 20px;
    border: 2px solid;
    border-radius: 20px;
}

label:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--main-background-color);
    transition: 0.4s;
}

label.active:before {
    left: 24px;
    background: var(--secendary-background);
}

footer {
    height: 50px;
    width: 1370px;
    position: relative;
    top: 500px;
    left: -1025px;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.author,
.cpy {
    color: var(--text-dark);
    font-weight: 600;
    font-size: 1rem;
}